<div class="thumbnail-container" [routerLink]="['/studenthome/batch']">
    <div class="thumbnail" >
        <mat-icon>paid</mat-icon>
        <div><b>2000</b></div>
        <div>Fee details</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>article</mat-icon>
        <div><b>200</b></div>
        <div>Library Details</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>Exam</mat-icon>
        <div><b>200</b></div>
        <div>books</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>notebook</mat-icon>
        <div><b>200</b></div>
        <div>Application</div>
    </div>
     <div class="thumbnail" >
        <mat-icon>notifications</mat-icon>
        <div><b>200</b></div>
        <div>Notification</div>
    </div>
</div>

