<div id="question-box" >

    <mat-toolbar>
       <span>Add Questions</span>
       <span class="example-spacer"></span>
       <!-- <form class="example-form">
        <mat-form-field class="example-half-width">
          <mat-label>Search</mat-label>
          <span matPrefix></span>
          <input type="tel" matInput placeholder="search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form> -->
      <mat-icon routerLink="../th-questions">cancel_circle</mat-icon>
      </mat-toolbar>



    <form class="example-form" class="m-4 ">
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea matInput placeholder="Input Questions here..."></textarea>
        </mat-form-field>
      </form>
      <form action="" class="options">
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option1</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option2</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field><br>
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option3</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option4</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
      </form>   
      
    
    
    
</div>