<div id="question-box" >

    <mat-toolbar class="border-bottom">
       <span>Add Questions</span>
       <span class="example-spacer"></span>
      <mat-icon routerLink="../th-exam">cancel_circle</mat-icon>
    </mat-toolbar>
    <div id="question-no" ><h2>Ques.No:1</h2></div>
    <form class="example-form" class="m-4 ">
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea matInput placeholder="Input Questions here..."></textarea>
        </mat-form-field>
      </form>
      <form action="" class="options">
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option1</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option2</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field><br>
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option3</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
         <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">option4</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
      </form>   
      <button mat-raised-button color="primary" class="p-4 m-5">Primary</button>
      <button mat-raised-button class="bg-success p-4">Primary</button>
</div>