<mat-toolbar >
  <img src="/assets/logo.png" alt="" routerLink="/home">
  <span class="sname">UNIQUE SCHOOL</span>
  <span class="example-spacer"></span>
  <div class="text">
    <button mat-button routerLink="/home" routerLinkActive="active">
      <span>Home</span>
    </button>
    <button mat-button  routerLink="/about" routerLinkActive="active">
      <span>
        About
      </span>
    </button>
    <button mat-button routerLink="/gallery" routerLinkActive="active">
      <span>Gallery</span>
    </button>
    <button mat-button routerLink="/contact" routerLinkActive="active">
      <span>Contact</span>
    </button>
    <button mat-button routerLink="/login" routerLinkActive="active">
      <span>Login</span>
    </button>
    
  </div>
</mat-toolbar>