<div class="bg-white  h-100 w-100">
  <div>
    <mat-toolbar>
      <span class="p-3">Manage Parent</span>
      <span class="example-spacer"></span>
      <mat-icon routerLink="../parent" class="pb-4">cancel</mat-icon>
    </mat-toolbar>
  </div>
  <div class="bg-white border ">
    <form action="">
      <mat-form-field class="example-form-field p-4">
        <mat-label class="p-1">Parent ID</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Father's Name</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Mother's Name</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Parent Profession</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Address</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Mob</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Aadhar No.</mat-label>
        <input matInput type="text" required="">
      </mat-form-field>
      <mat-form-field class="example-form-field p-4 ">
        <mat-label class="p-1">Email</mat-label>
        <input matInput type="email" required="">
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-form-field p-4 ">
        <mat-label>Gender</mat-label>
        <mat-select required="">
          <mat-option value="primary">Male</mat-option>
          <mat-option value="accent">Female</mat-option>
          <mat-option value="warn">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <input class="p-4" type="file">
      <button class="btn text-white btn-danger m-4">&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
      <button class="btn text-white btn-primary m-4">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;</button>
      <button class="btn text-white btn-success m-4">&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </form>

  </div>
</div>