<div class="wrapper">
    <div class="contents">
        <h1>About</h1><hr>
        What is a content of a story?
        content noun uses
        
        If you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the playWhat is a content of a story?
        content noun uses
        
        If you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the playWhat is a content of a story?
        content noun uses
        
        If you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the playIf you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the play
</div>
<div class="main-about" id="about-school">
    <div class="faculty">faculty</div>
    <div class="faculty-desc-img">
        <div class="photos"></div>
        <div class="teacher-desc"></div>
    </div>
    <div class="faculty-desc-img">
        <div class="photos"></div>
        <div class="teacher-desc"></div>
    </div>
    <div class="faculty-desc-img">
        <div class="photos"></div>
        <div class="teacher-desc"></div>
    </div>
</div>
</div>