<div class="wrapper">
    <div class="contents">
        <h1>About</h1><hr>
        What is a content of a story?
        content noun uses
        
        If you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the playWhat is a content of a story?
        content noun uses
        
        If you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the playWhat is a content of a story?
        content noun uses
        
        If you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the playIf you refer to the content or contents of something such as a book, speech, or television programme, you are referring to the subject that it deals with, the story that it tells, or the ideas that it expresses. She is reluctant to discuss the content of the play
</div>
<div class="main-about" id="about-school">
    <div class="facility">Facility</div>
    <div class="facility-desc-img">
        <div class="card facility-img" style="width: 14.5rem;">
            <img class="card-img-top" src="assets/images/Dance class images.jpg" alt="Card image cap" style="height:220px">
            
            <div class="facility-img-txt">
                <h2>Dance Class</h2>
            </div>
        </div>
        <div class="card facility-img" style="width: 14.5rem;">
            <img class="card-img-top" src="assets/images/yogaclass.jpg" alt="Card image cap" style="height:220px">
            
            <div class="facility-img-txt">
                <h2>yoga Class</h2>
            </div>
        </div>
        <div class="card facility-img" style="width: 14.5rem;">
            <img class="card-img-top" src="assets/images/Art & craft.jpg" alt="Card image cap" style="height:220px">
            
            <div class="facility-img-txt">
                <h2>Art & Craft </h2>
            </div>
        </div>
        <div class="card facility-img" style="width: 14.5rem;">
            <img class="card-img-top" src="assets/images/sports.jpg" alt="Card image cap" style="height:220px">
            
            <div class="facility-img-txt">
                <h2>Sports</h2>
            </div>
        </div>
        <div class="card facility-img" style="width: 14.5rem;">
            <img class="card-img-top" src="assets/images/library.jpg" alt="Card image cap" style="height:220px">
            
            <div class="facility-img-txt">
                <h2>Library</h2>
            </div>
        </div>
        <div class="card facility-img" style="width: 14.5rem;">
            <img class="card-img-top" src="assets/images/Computer lab.jpg" alt="Card image cap" style="height:220px">
            
            <div class="facility-img-txt">
                <h2>Computer Lab</h2>
            </div>
        </div>
    </div>
    
</div>
</div>