
#usericon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image:url(../../../assets/user2.jpg) ;
    background-size:cover;
  }
  #footer{
    position: relative;
  }
  /* li:hover{
    transform: scale(1.07) ;
    transition: all 1s;
  
  } */
 
  /* ......................mmedia query..................................... */

  @media(max-width:768px){
    .sname{
      display: none;
    }
  }