/* for contact heading */
#contact-heading{
    width: calc(100% - 60px);
    height: 50px;
    margin: 10px 30px 0px 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color:#FE8E0b ;
    padding-top: 10px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
   
    }
/* for contact form */
.contact{
    background-color: #b9eae7 ;
    color: black;
    width: calc(100% - 60px);
    margin: 10px 30px 0px 30px;
    font-size: 15px;
    margin-bottom: 10px;
}
form{
    padding: 20px 0 20px 2% ;
}
