<div>
    <mat-toolbar>
       <span class="p-3">Add Teacher</span>
       <span class="example-spacer"></span>
      <mat-icon routerLink="../admin-teacher" class="pb-4">cancel</mat-icon>
      </mat-toolbar>
</div>
<div class="bg-white border ">
    <form action="" class="example_form" [formGroup]="add_teacher">
      <div class="img_style">
        <img src="{{img_url}}" width="100%" height="100%">
         <button mat-fab color="primary" (click)="image.click()">
            <mat-icon class="pic_add_icon">add</mat-icon>
            <input type="file" #image (change) ="onImgChng(image.files)"  accept=".png,.jpg">
          </button>
    </div>
      <mat-form-field class="example-form-field p-4">
        <mat-label class="p-1">Teacher ID</mat-label>
        <input matInput type="text" required="" >
      </mat-form-field>
      <mat-form-field class="example-form-field p-4">
        <mat-label class="p-1">Name</mat-label>
        <input matInput type="text" required=""  formControlName="t_name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-form-field p-4 ">
        <mat-label>Gender</mat-label>
        <mat-select required="" formControlName="t_gender">
          <mat-option value="primary">Male</mat-option>
          <mat-option value="accent">Female</mat-option>
          <mat-option value="warn">Others</mat-option>
        </mat-select>
      </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Father's Name</mat-label>
            <input matInput type="text" required="" formControlName="t_fname" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Address</mat-label>
            <input matInput type="text" required=""  formControlName="t_address">
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Mobile No</mat-label>
            <input matInput type="text" required="" formControlName="t_mob">
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-form-field p-4 ">
            <mat-label>Class</mat-label>
            <mat-select formControlName="class_id">
              <mat-option value="1">1-(Pay)</mat-option>
              <mat-option value="2">2-(Nurs)</mat-option>
              <mat-option value="3">3-(LKG)</mat-option>
              <mat-option value="4">4-(UKG)</mat-option>
              <mat-option value="5">5-(stdI)</mat-option>
              <mat-option value="6">6-(stdII)</mat-option>
              <mat-option value="7">7-(stdIII)</mat-option>
              <mat-option value="7">8-(stdIV)</mat-option>
              <mat-option value="7">9-(stdV)</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Aadhar No.</mat-label>
            <input matInput type="text" required="" formControlName="t_aadhar">
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 " color="accent" appearance="fill">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="t_dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Email</mat-label>
            <input matInput type="text" required="" formControlName="t_email">
          </mat-form-field>
          <!-- join date start -->
          <mat-form-field class="example-form-field p-4 " color="accent" appearance="fill">
            <mat-label>Join Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="t_jndate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- join date end -->
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Salary</mat-label>
            <input matInput type="number" required=""  formControlName="t_salary">
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-form-field p-4 ">
            <mat-label>Subject</mat-label>
            <mat-select required="" formControlName="sub_id">
              <mat-option value="1">Maths</mat-option>
              <mat-option value="2">Physics</mat-option>
              <mat-option value="3">Chemisty</mat-option>
              <mat-option value="4">Science</mat-option>
              <mat-option value="5">Social Science</mat-option>
              <mat-option value="6">Grammer</mat-option>
              <mat-option value="7">Computers</mat-option>
              <mat-option value="8">G.K</mat-option>
              <mat-option value="9">History</mat-option>
              <mat-option value="10">Geography</mat-option>
              <mat-option value="11">Economics</mat-option>

            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">password</mat-label>
            <input matInput type="password" required=""  formControlName="t_password">
          </mat-form-field>
          <!-- <input class="p-4" type="file"> -->
          <button class="btn text-white btn-danger m-4" routerLink="../teacher"> &nbsp; &nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
          <!-- <button class="btn text-white btn-primary m-4" (click)="reset()" *ngIf="!tid">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
          <button class="btn text-white btn-success m-4" (click)="(tid)?onupdate():onSave()">&nbsp;&nbsp;&nbsp;&nbsp;{{(tid)?"Update":"Add"}}&nbsp;&nbsp;&nbsp;&nbsp;</button> 
    </form>
   
</div>
