<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="/assets/logo.png" alt="">
  <span class="sname">UNIQUE SCHOOL</span>
    <span class="example-spacer"></span>
    <span style="font-family: Inria Serif;">{{login_as.user_name|titlecase }}<mat-icon [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon></span>
        <div id="usericon"></div>
  </mat-toolbar>
  <!-- menu button  -->
<mat-menu #menu="matMenu">
  <button mat-menu-item class="text-white">Logout</button>
  <button mat-menu-item class="text-white">Setting</button>
</mat-menu>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="">
      <div id="intro">
        <img src="../../../assets/user2.jpg" alt=""><br>
        <span>ID:34236</span><br>
        <span>{{login_as.user_name|titlecase }}</span><br><hr>
      </div>
        <ul>
            <li routerLink="./libr-dashboard" routerLinkActive="active" ><mat-icon>dashboard</mat-icon>Dashboard</li>
            <li routerLink="./libr-salarydetails" routerLinkActive="active"><mat-icon>paid</mat-icon>Salary Details</li>
            <li routerLink="./libr-library-details" routerLinkActive="active"><mat-icon>article</mat-icon>Library Details</li>
            <li routerLink="./libr-books"  routerLinkActive="active"><mat-icon>book</mat-icon>Books</li>
            <li routerLink="./libr-book-transaction"  routerLinkActive="active"><mat-icon>notebooks</mat-icon>Book Transaction</li>
            <li routerLink="./libr-application"  routerLinkActive="active"><mat-icon>note</mat-icon>Application</li>
            <li routerLink="./libr-notification"  routerLinkActive="active"><mat-icon>notifications</mat-icon>Notification</li>
            <li routerLink="./ "  routerLinkActive="active"><mat-icon>settings</mat-icon>Setting</li>
        </ul>
    </mat-drawer>
    <!-- <router-outlet></router-outlet> -->
    <app-viewport></app-viewport>
  </mat-drawer-container>
  <div id="footer">Unique school@2023</div>
