<div>
    <mat-toolbar>
        <span class="p-3">Manage Books</span>
        <span class="example-spacer"></span>
        <mat-icon routerLink="../libr-books" class="pb-4">cancel</mat-icon>
    </mat-toolbar>
</div>
<div class="bg-white border ">
    <form action="">
        <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">Books ID</mat-label>
            <input matInput type="text" required="">
        </mat-form-field>
        <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Books Name</mat-label>
            <input matInput type="text" required="">
        </mat-form-field>
        <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Books Author</mat-label>
            <input matInput type="text" required="">
        </mat-form-field>
        <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Books Publication</mat-label>
            <input matInput type="text" required="">
        </mat-form-field>
        <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Books Edition</mat-label>
            <input matInput type="text" required="">
        </mat-form-field>
        <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Books Price</mat-label>
            <input matInput type="text" required="">
        </mat-form-field>
        <button class="btn text-white btn-danger m-4">Cancel</button>
        <button class="btn text-white btn-primary m-4">Reset</button>
        <button class="btn text-white btn-success m-4">Submi</button>
    </form>

</div>