.dashboard{
     width: calc(100% - 40px);
}
.total-student{
    width: 300px;
    height: 200px;
    margin: 20px;
    background-color:#FE8E0B;
}
#totalstudent{
    color: #fff;
    font-size: 20px;
    font-family: inria serif;
    font-weight: 400;
}
#totalstudent span{
    padding: 20px;
}