<div class="thumbnail-container" [routerLink]="['/studenthome/batch']">
    <div class="thumbnail" >
        <mat-icon>groups</mat-icon>
        <div><b>2000</b></div>
        <div>Student</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>group</mat-icon>
        <div><b>200</b></div>
        <div>Teacher</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>class</mat-icon>
        <div><b>200</b></div>
        <div>Class</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>notebook</mat-icon>
        <div><b>200</b></div>
        <div>Application</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>man</mat-icon>
        <div><b>200</b></div>
        <div>Librarian</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>groups</mat-icon>
        <div><b>200</b></div>
        <div>Staff</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>subject</mat-icon>
        <div><b>200</b></div>
        <div>Subject</div>
    </div>
    <div class="thumbnail" >
        <mat-icon>notifications</mat-icon>
        <div><b>200</b></div>
        <div>Notification</div>
    </div>
</div>