<div class="dashboard">
        <div class="total-student">
            <div class="icon"><img src="assets/studenticon.png" alt=""></div>
            <div class="totalstudent">200</div><br>
           <span class="stu">Student</span>
        </div>
        <div class="total-student">
            <div class="icon"><img src="assets/studenticon.png" alt=""></div>
            <div class="totalstudent">20</div><br>
           <span class="stu">Student</span>
        </div>
        <div class="total-student">
            <div class="icon"><img src="assets/studenticon.png" alt=""></div>
            <div class="totalstudent">10</div><br>
           <span class="stu">Student</span>
        </div>
        <div class="total-student">
            <div class="icon"><img src="assets/studenticon.png" alt=""></div>
            <div class="totalstudent">20</div><br>
           <span class="stu">Student</span>
        </div>
        <div class="total-student">
            <div class="icon"><img src="assets/studenticon.png" alt=""></div>
            <div class="totalstudent">20</div><br>
           <span class="stu">Student</span>
        </div>
        
</div>

