<a [routerLink]="['/studenthome/batch']">
    <div id="thumbnail" >
        <mat-icon>groups</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>20</b></span><br><br>
        <span>Teacher</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
    <div id="thumbnail" >
        <mat-icon>local_library</mat-icon><br>
        <span><b>200</b></span><br><br>
        <span>Batch</span>
    </div>
</a>