
<div>
  <mat-toolbar>
     <span class="p-3">Librararian</span>
     <span class="example-spacer"></span>
     <form class="example-form">
      <mat-form-field class="example-half-width">
        <mat-label>Search</mat-label>
        <span matPrefix></span>
        <input type="tel" matInput placeholder="search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <mat-icon routerLink="../manage-librarian">add_circle</mat-icon>
    </mat-toolbar>
</div>

<table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="librn_position">
    <th mat-header-cell *matHeaderCellDef> S.No. </th>
    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
  </ng-container>

  <!-- id Column -->
  <ng-container matColumnDef="librn_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_id}} </td>
  </ng-container>

  <!--  Name Column -->
  <ng-container matColumnDef="librn_name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_name}} </td>
  </ng-container>

  <!-- joindateC olumn -->
  <ng-container matColumnDef="librn_jndate">
    <th mat-header-cell *matHeaderCellDef> Joindate</th>
    <td mat-cell *matCellDef="let element"> {{element.librn_jndate}} </td>
  </ng-container>

  <!-- salaryColumn -->
  <ng-container matColumnDef="librn_salary">
    <th mat-header-cell *matHeaderCellDef> Salary</th>
    <td mat-cell *matCellDef="let element"> {{element.librn_salary}} </td>
  </ng-container>

  <!-- address Column -->
  <ng-container matColumnDef="librn_address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_address}} </td>
  </ng-container>

  <!-- emial Column -->
  <ng-container matColumnDef="librn_email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_email}} </td>
  </ng-container>

  <!-- mobile Column -->
  <ng-container matColumnDef="librn_mob">
    <th mat-header-cell *matHeaderCellDef> Mobile </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_mob}} </td>
  </ng-container>
  <!-- gender Column -->
  <ng-container matColumnDef="librn_gen">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_gen}} </td>
  </ng-container>

  <!-- proffession -->
  <ng-container matColumnDef="librn_aadhar">
    <th mat-header-cell *matHeaderCellDef> Adhar </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_aadhar}} </td>
  </ng-container>
  <!-- proffession -->
  <ng-container matColumnDef="librn_password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let element"> {{element.librn_password}} </td>
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="librn_action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"><mat-icon>delete</mat-icon> <mat-icon
        routerLink="../edit_librarian/{{element.librn_id}}">edit</mat-icon><mat-icon routerLink="../manage-librarian">visibility</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>