<div class="bg-white h-100 w-100">
    <div>
        <mat-toolbar>
            <span class="p-3"> Add Application</span>
            <span class="example-spacer"></span>
           <mat-icon routerLink="../application"  class="pb-4">cancel</mat-icon>
         </mat-toolbar>
    </div>
    <div class=" w-50 h-50 bg-danger m-5 mb-0">
     <textarea class="w-100 h-100 color"></textarea>
    </div>
    <div class="m-5 w-100 float-md-right" >
        <button  class="btn text-white btn-danger m-2 ">&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button  class="btn text-white btn-success m-2 mr-0 ">&nbsp;&nbsp;&nbsp;&nbsp;Publish&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
   </div>
