<div class="w-100 h-100">
    <div class="bg-white h-100 w-100">
        <div>
            <mat-toolbar >
                <span class="p-3"> Add Application</span>
                <span class="example-spacer"></span>
               <mat-icon routerLink="../libr-application"  class="pb-4">cancel</mat-icon>
             </mat-toolbar>
        </div>

    <form class=" text-center bg-white" [formGroup]="libr_application">
        <div>
            <mat-form-field class="example-full-width p-3">
                <mat-label class="p-1">Subject</mat-label>
                <input matInput type="text" required="" formControlName="sub_id">
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width p-3">
                <mat-label>Sender Type</mat-label>
                <mat-select required="" formControlName="sender_type">
                  <mat-option value="primary">Student</mat-option>
                  <mat-option value="accent">Teacher</mat-option>
                  <mat-option value="warn">Librarian</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field class="example-full-width p-3">
                <mat-label class="p-1">Sender Type</mat-label>
                <input matInput type="text" required="" formControlName="sub_id">
              </mat-form-field> -->
              <!-- <mat-form-field class="example-full-width p-3">
                <mat-label class="p-1">Sender ID</mat-label>
                <input matInput type="text" required="" formControlName="sub_id">
              </mat-form-field> -->
              <!-- <mat-form-field appearance="fill" class="example-full-width p-3">
                <mat-label>Applicationdate</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
              
        </div>
        
        <textarea class=" p-3  " name="" id="" cols="100" rows="15" required="" formControlName="msg_id"></textarea>
        <div class="">
            <button  class="btn text-white btn-danger  p-2 m-3">Cancel</button>
            <button  class="btn text-white btn-success p-2 m-3">Publish</button>
        </div>
    </form>
   </div>
</div>   