<div>
    <mat-toolbar>
       <span class="p-3">Manage Salary Recipits</span>
       <span class="example-spacer"></span>
      <mat-icon routerLink="../salary" class="pb-4">cancel</mat-icon>
      </mat-toolbar>
</div>
<div class="bg-white border ">
    <form action="">
        <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">Employee Id</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Employee Name</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Employee Type</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Salary Amount</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4">
            <mat-label class="p-1">Paid Amount</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Dues Amount</mat-label>
            <input matInput type="text" required="" >
          </mat-form-field>
          <mat-form-field class="example-form-field p-4 ">
            <mat-label class="p-1">Salary Date</mat-label>
            <input matInput type="text">
          </mat-form-field><br>
          <button  class="btn text-white btn-danger m-4">&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
          <button  class="btn text-white btn-primary m-4">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;</button>
          <button  class="btn text-white btn-success m-4">&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </form>
   
</div>
