<div class="bg-white w-100 h-100 ">
  <div>
    <mat-toolbar>
      <span class="p-3">{{(sid)?"Update Student":"Add Student"}}</span>
      <span class="example-spacer"></span>
      <mat-icon routerLink="../admin-student" class="pb-4">cancel</mat-icon>
    </mat-toolbar>
  </div>
  <div class="bg-white border p-4">
    <!-- Name -->
    <form  class="example-form" [formGroup]="add_std" >
      <div class="img_style">
        <img src="{{img_url}}" width="100%" height="100%">
         <button mat-fab color="primary" (click)="image.click()">
            <mat-icon class="pic_add_icon">add</mat-icon>
            <input type="file" #image (change) ="onImgChng(image.files)"  accept=".png,.jpg">
          </button>
    </div>
      <input type="hidden" formControlName="std_id" *ngIf="sid">
      <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Name</mat-label>
        <input matInput type="text" required="" formControlName="std_name">
      </mat-form-field>
      <!-- Roll.No -->
      <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Roll</mat-label>
        <input matInput type="number" required="" formControlName="std_roll">
      </mat-form-field>
      <!-- Father's Name -->
      <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Father's Name</mat-label>
        <input matInput type="text" required="" formControlName="std_fname">
      </mat-form-field>
      <!-- Mother's Name -->
      <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Mother's Name</mat-label>
        <input matInput type="text" required="" formControlName="std_mname">
      </mat-form-field>
      <!-- Date Of Birth -->
      <mat-form-field color="accent" appearance="fill" class="example-form-field padding">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="std_dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Email</mat-label>
        <input matInput type="email" required="" formControlName="std_email">
      </mat-form-field>
      <!-- Mobile Number -->
      <mat-form-field class="example-form-field padding ">
        <mat-label class="p-1">Mob</mat-label>
        <input matInput type="number" formControlName="std_mob">
      </mat-form-field> 
      <!-- AAdhar Number -->
      <mat-form-field class="example-form-field padding ">
          <mat-label class="p-1">Aadhar No.</mat-label>
          <input matInput type="number" required="" formControlName="std_aadhar">
      </mat-form-field>
      <!-- Gender -->
      <mat-form-field appearance="fill" class="example-form-field padding">
        <mat-label>Gender</mat-label>
        <mat-select required="" formControlName="std_gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Others</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Blood Group -->
      <mat-form-field appearance="fill" class="example-form-field padding ">
        <mat-label>Blood Group</mat-label>
        <mat-select required="" formControlName="std_bg">
          <mat-option value="O+">O+</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="O-">O-</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="AB+">AB+</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- nationality -->
      <mat-form-field class="example-form-field padding ">
        <mat-label class="p-1">nationality</mat-label>
        <input matInput type="text" required="" formControlName="std_nationality">
      </mat-form-field>
      <!-- identification Mark -->
       <mat-form-field class="example-form-field padding ">
        <mat-label class="p-1">Identification Mark</mat-label>
        <input matInput type="text" formControlName="std_identification">
      </mat-form-field>
      <!-- address -->
      <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Address</mat-label>
       <textarea matInput type="text" formControlName="std_address" rows="1"></textarea>
      </mat-form-field>
     <!--password  -->
      <!-- <mat-form-field class="example-form-field padding">
        <mat-label class="p-1">Password</mat-label>
        <input matInput type="password" formControlName="std_password">
      </mat-form-field> -->
      <mat-form-field appearance="fill" class="example-form-field padding">
    <mat-label class="p-1">Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="std_password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
      <mat-icon class="color">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
     
    </button>
    </mat-form-field>
  
           <!-- class -->
       <mat-form-field appearance="fill" class="example-form-field padding ">
             <mat-label>Class</mat-label>
            <mat-select required="" formControlName="class_id">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
        </mat-form-field>
       <!-- photo -->
      <!-- <input class="p-4" type="file"> -->
      <button class="btn text-white btn-danger m-3" routerLink="../admin-student"> &nbsp; &nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
      <button class="btn text-white btn-primary m-3" (click)="reset_form()" *ngIf="!sid">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;</button>
      <button class="btn text-white btn-success m-3" (click)="(sid)?updatestd():onSave()" >&nbsp;&nbsp;&nbsp;&nbsp;{{(sid)?"Update":"Add"}}&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </form>

  </div>

</div>